<h1>index</h1>
<% @tasks.each do |task| %>
  <li>
    <% if task.completed%>
      <input type="checkbox" checked> <%= link_to task.title, task_path(task) %>
    <% else %>
      <input type="checkbox"> <%= link_to task.title, task_path(task) %>
    <% end %>
    <%= link_to 'Delete', task_path(task), data: {:confirm => "Delete #{task.title} ?"}, :method => :delete %>
  </li>
<% end %>
<p><%= link_to 'Add new', new_task_path %></p>
