<h2><%= @task.title %></h2>
<p><%= link_to 'Edit', edit_path %></p>
<p><%= @task.details %></p>
<% if @task.completed%>
  <input type="checkbox" checked> This task is completed
<% else %>
  <input type="checkbox"> This taks is not completed yet
<% end %>
<p><%= link_to 'Back to list', tasks_path %></p>
